body {
  background: $global-background-color;
  color: $global-font-color;

  &[theme=dark] {
    background: $global-background-color-dark;
    color: $global-font-color-dark;
  }
}

::selection {
  color: $selection-text-color;
  background: $selection-color;
  [theme=dark] & {
    color: $selection-text-color-dark;
    background: $selection-color-dark;
  }
}

a {
  color: $global-link-color;
  [theme=dark] & {
    color: $global-link-color-dark;
  }
}

header {
  box-shadow: none;
  transition: none;
  [theme=dark] & {
    background: $header-background-color-dark;
  }
}

footer {
  color: $honey-ginger;
}

#header-desktop {
  box-shadow:none;
  .header-wrapper {
    padding: 0.75rem 2rem 0.75rem 10%;
    .header-title {
      .typeit {
        color: $honey-ginger;
      }
    }
  }
}

#header-mobile {
  .header-container {
    .header-wrapper {
      .header-title {
        .typeit {
          color: $honey-ginger;
        }
      }
      .menu-toggle span{
        background: $global-font-color;
        [theme=dark] & {
          background: $global-font-color-dark;
        }
      }
    }
    .menu {
      [theme=dark] & {
        color: $global-font-color-dark;
        background: $global-background-color-dark;
      }
    }
  }
}

.home-profile {
.single svg.icon {
  color: $black-emerald;
  [theme=dark] & {
    color: $buttercream;
  }
  &:hover,
  &:active,
  &:focus {
    color: $global-link-hover-color;
  }
}
}

.home[posts] {
  .summary {
    border-bottom: 1.5px dashed $black-emerald;
    [theme=dark] & {
      border-bottom: 1.5px dashed $mellow-yellow;
    }
    .single-title a {
      color: $black-emerald;
      [theme=dark] & {
        color: $mellow-yellow;
      }
      &:hover,
      &:active,
      &:focus {
        color: $honey-ginger;
      }
    }
    .post-footer {
      color: $black-emerald;
      [theme=dark] & {
        color: $buttercream;
      }
      a {
        color: $black-emerald;
        [theme=dark] & {
          color: $buttercream;
        }
      }
      .post-tags {
        a,svg {
          color: $black-emerald;
          [theme=dark] & {
            color: $buttercream;
          }
        }
      }
    }
  }
}

.home {
  .home-profile {
    margin: 2rem 0 1rem 0;
  }
}

h1 {
  margin: 0rem;
}

.single {
  .post-meta {
    a {
      color: $single-link-color;
      [theme=dark] & {
        color: $single-link-color-dark;
      }
    }
  }
}

.fixed-button {
  color: $buttercream;
  background: $black-emerald;
  [theme=dark] & {
    background: $buttercream;
    color: $black-emerald;
  }

  svg.icon {
    &:hover,
    &:active,
    &:focus {
      color: $global-link-hover-color;
    }
  }
}
