body {
  background: $global-background-color;
  color: $global-font-color;

  &[theme=dark] {
    background: $global-background-color-dark;
    color: $global-font-color-dark;
  }
}

::selection {
  color: $selection-text-color;
  background: $selection-color;
  [theme=dark] & {
    color: $selection-text-color-dark;
    background: $selection-color-dark;
  }
}

a {
  color: $global-link-color;
  [theme=dark] & {
    color: $global-link-color-dark;
  }
}

header {
  box-shadow: none;
  transition: none;
  [theme=dark] & {
    background: $header-background-color-dark;
  }
}

footer {
  color: $honey-ginger;
}

#header-desktop {
  box-shadow:none;
  .header-wrapper {
    padding: 0.5rem 2rem 0.5rem 10%;
    .header-title {
      .typeit {
        color: $honey-ginger;
      }
    }
    .menu {
      a.active {
        color: $rusty-orange;
        [theme=dark] & {
          color: $buttercream;
        }
      }
    }
  }
}

#header-mobile {
  .header-container {
    .header-wrapper {
      .header-title {
        .typeit {
          color: $honey-ginger;
        }
      }
      .menu-toggle span{
        background: $global-font-color;
        [theme=dark] & {
          background: $global-font-color-dark;
        }
      }
    }
    .menu {
      [theme=dark] & {
        color: $global-font-color-dark;
        background: $global-background-color-dark;
      }
      a.active {
        color: $rusty-orange;
        [theme=dark] & {
          color: $buttercream;
        }
      }
    }
  }
}

.home-profile {
.single svg.icon {
  color: $black-emerald;
  [theme=dark] & {
    color: $buttercream;
  }
  &:hover,
  &:active,
  &:focus {
    color: $global-link-hover-color;
  }
}
}

.home[posts] {
  .summary {
    border-bottom: 1.5px dashed $black-emerald;
    [theme=dark] & {
      border-bottom: 1.5px dashed $mellow-yellow;
    }
    .single-title a {
      color: $black-emerald;
      &:hover,
      &:active,
      &:focus {
        color: $honey-ginger;
      }
      [theme=dark] & {
        color: $buttercream;
      }
    }
    .post-footer {
      color: $black-emerald;
      [theme=dark] & {
        color: $buttercream;
      }
      a {
        color: $black-emerald;
        [theme=dark] & {
          color: $buttercream;
        }
      }
      .post-tags {
        a,svg {
          color: $black-emerald;
          [theme=dark] & {
            color: $buttercream;
          }
        }
      }
    }
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $black-emerald;
  [theme=dark] & {
    color: $buttercream;
  }
  margin: 0rem;
}

.single {
  .post-meta {
    a {
      color: $single-link-color;
      [theme=dark] & {
        color: $single-link-color-dark;
      }
    }
  }
  .content {
    > h2,
    > h3,
    > h4,
    > h5,
    > h6 {
      > .header-mark::before {
        content: "|";
        margin-right: 0.3125rem;
        color: $honey-ginger;
      }
    }
    a > em {
      color: $black-emerald;
      [theme=dark] & {
        color: $buttercream;
      }
    }
  }
}

.fixed-button {
  color: $buttercream;
  background: $black-emerald;
  [theme=dark] & {
    background: $buttercream;
    color: $black-emerald;
  }

  svg.icon {
    &:hover,
    &:active,
    &:focus {
      color: $global-link-hover-color;
    }
  }
}

.archive-item-link {
  color: $global-link-color;
  [theme=dark] & {
    color: $global-link-color-dark;
  }
}

.archive {
  color: $black-emerald;
  [theme=dark] & {
    color: $buttercream;
  }
  .tag-cloud-tags {
    a {
      color: $global-link-color;
      [theme=dark] & {
        color: $global-link-color-dark;
      }
    }
  }
}

#toc-auto {
  .toc-content {
    ul a:first-child::before {
      color: $black-emerald;
      [theme=dark] & {
        color: $buttercream;
      }
    }
    ul a.active:first-child {
      color: $black-emerald;
      [theme=dark] & {
        color: $buttercream;
      }
      &::before {
        color: $honey-ginger;
      }
    }
  }
}

.post-footer {
  .post-info {
    .post-info-line {
      .post-info-mod {
        a.git-hash {
          color: $black-emerald;
          [theme=dark] & {
            color: $buttercream;
          }
        }
      }
      .post-info-license {
        >span:nth-child(1) >a:nth-child(1) {
          color: $black-emerald;
          [theme=dark] & {
            color: $buttercream;
          }
        }
      }
      .post-info-md {
        >span:nth-child(1) >a:nth-child(1) {
          color: $black-emerald;
          [theme=dark] & {
            color: $buttercream;
          }
        }
      }
    }
  }
}
